.container {
    display: flex;
    gap: 1rem;
    margin-bottom: 1.5rem;
}

.button {
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 0.375rem;
    font-size: 0.875rem;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.button:active {
    transform: translateY(1px);
}

.buttonActive {
    background-color: rgb(253, 175, 175);
    color: white;
}

.buttonInactive {
    background-color: #fafa72;
    border: 1px solid #d1d5db;
    color: #374151;
}

.buttonInactive:hover {
    background-color: #d1d5db;

}


@media (max-width: 640px) {
    .container {
        gap: 0.75rem;
    }

    .button {
        padding: 0.5rem 0.75rem;
        font-size: 0.8rem;
    }
}